.about {
  margin: 40px 0;
  padding: 60px 200px;
  background-color: rgba(4, 4, 41, 0.05);
}



.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-content {
  width: 800px;

}

.about-content h4 {
  font-weight: 500;
  margin-left: -70px;
  width: 750px;
}
.about img {
  width: 700px;
}



.about-header h6 {
  font-style: normal;
  font-weight: 800;
  font-size: 57.0409px;
  line-height: 86px;
  color: #040429;
}

.about .about-header span {
  font-style: normal;
  font-weight: 400;
  font-size: 14.2602px;
  line-height: 21px;
  width: 160px;
}

.learn {
    margin: 20px 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  background: #040429;
  border-radius: 5px;
  color: #FFFFFF;
  padding: 10px 20px;
  text-align: center;
}

@media screen and (max-width:1200px){
    .about-content img{
        object-fit: cover;
      width: auto;
      height: 200px;
      border-radius: 20px;
    }
}

@media screen and (max-width:1369px){
  .about-content img{
    object-fit: cover;
    margin-left: 80px;
    width: auto;
    height: 200px;
    border-radius: 20px;
  }
}


@media screen and (max-width:900px){
    .about{
        padding: 20px;
        height: 950px !important;
    }
    .about-content {
      max-width: 400px;
    }
    .content {
        flex-direction: column;
        justify-content: flex-start;
      }
      .about-content .about-text h4{
        display: flex;
        text-align: center;
        width: 400px;
        margin: 5px 0px;
        margin-right: 0px !important;
        padding: 0% !important;
        align-items: center;
      }
      .about-text {
        /* width: 500px !important; */
        display: block;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-right: 0px !important;
        padding: 0% !important;
      }
      .about-content img{
        display: flex;
        justify-content: center;
        max-width: 360px !important;
        border-radius: 20px;
        margin-left: 5% !important;
      }
      .about-header  {
       text-align: left;
       width: 100%;
       margin-bottom: 20px;
      }
}

@media screen and (max-width:963px){
  .about {
    padding: 60px 100px;
  }
  .about-content {
    margin-right: 200px;
    padding-right: 0px !important;
  }
}

@media screen and (max-width:974px){
  .about {
    padding: 60px 100px;
  }
  .about-content {
    width: 500PX;
    margin-right: 200px;
    padding-right: 0px !important;
  }
}

@media screen and (max-width:1247px){
  .about-content{
    margin-right: 0px !important;
  }
}

@media screen and (max-width:1024px){
  .about {
    padding: 60px 100px;
  }
  .about-content {
    width: 500PX;
    margin-right: 200px;
    padding-right: 0px !important;
  }
}

@media screen and (max-width:749px){
  .learn {
    margin: 20px 0;
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
    background: #040429;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 10px 20px;
    text-align: center;
  }
}