.about {
  margin: 40px 0;
  padding: 60px 200px;
  background-color: rgba(4, 4, 41, 0.05);
}



.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-content {
  width: 800px;

}

.about-content h4 {
  font-weight: 500;
  margin-left: -70px;
  width: 650px;
}
.about img {
  width: 700px;
}

#register{
  background-color: #040429;
  color: #ffffff;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 18px;
}

.about-header {
  flex: 1;
}

.about-header h6 {
  font-style: normal;
  font-weight: 800;
  font-size: 57.0409px;
  color: #040429;
}

.about .about-header span {
  font-style: normal;
  font-weight: 400;
  font-size: 12.9677px;
  line-height: 19px;
  color: #040429;
}

.learn {
  margin-top: 20px;
}

@media screen and (max-width:1200px){
    .about-content img{
        object-fit: cover;
      width: auto;
      height: 200px;
      border-radius: 20px;
    }
}

@media screen and (max-width:1369px){
  .about-content img{
    object-fit: cover;
    margin-left: 80px;
    width: auto;
    height: 200px;
    border-radius: 20px;
  }
}


@media screen and (max-width:900px){
    .about{
        padding: 20px;
        height: 700px !important;
    }
    .about-content {
      min-width: 400px;
    }
    .content {
        flex-direction: column;
        justify-content: flex-start;
      }
      .about-text h4{
        display: flex;
        text-align: justify;
        margin: 5px 0px;
        margin-right: 0px !important;
        padding: 0% !important;
        justify-content: center;
      }
      .about-text {
        display: flex;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        margin-right: 0px !important;
        padding: 0% !important;
        flex-direction: row-reverse;
      }
      .about-text-1 {
        display: contents;
      }
      .ban img {
        width: 420px;
        border-radius: 20px;
      }
      .about-content img{
        display: flex;
        justify-content: center;
        max-width: 360px !important;
        border-radius: 20px;
        margin-left: 5% !important;
      }
      .about-header  {
       text-align: left;
       margin-bottom: 20px;
      }

      .about-header h6{
        font-size: 50px !important;
      }
      /* .learn{
        position: relative;
        display: block;
        justify-content: space-around;
        padding: 20px;
        width: 180px;
      } */
}

@media screen and (max-width:963px){
  .about {
    padding: 60px 100px;
  }
  .about-content {
    margin-right: 200px;
    padding-right: 0px !important;
  }
}

@media screen and (max-width:974px){
  .about {
    padding: 60px 100px;
  }
  .about-content {
    width: 500px;
    margin-right: 200px;
    padding-right: 0px !important;
  }
}

@media screen and (max-width:1247px){
  .about-content{
    margin-right: 0px !important;
  }
}

@media screen and (max-width:1024px){
  .about {
    padding: 60px 100px;
  }
  .about-content {
    width: 500px;
    margin-right: 200px;
    padding-right: 0px !important;
  }
}
