
.banner {
    position: relative;
    /* height: 480px; */
    /* left: 0px;
    top: 0px; */
    /* margin: 0px 100px 0px 100px; */
    /* padding: 0px 100px 0px 100px; */
    /* position: relative; */
    /* background-color: rgba(4, 4, 41, 0.05); */
  
  }
  
  .banto {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  
  .banto .banner-item{
    /* float: right;
    position: relative;
    margin-right: 250px; */
  
  }
  
  .banner-item1 img {
    /* margin-left: 200px;
    margin-top: 30px; */
  }
  
  /* .banner-text {
    margin-top: -30px;
    margin-left: 250px;
    color: #040429;
  } */
  
  .banner-text h1 {
    /* font-size: 50px;
    font-weight: 800;
    margin-bottom: -5px; */
  }
  
  .banner-text h2 {
    /* font-size: 20px;
    font-weight: 600; */
  }
  
  .banner-text h3 {
    /* font-size: 15px;
    font-weight: 400;
    width: 400px; */
  }
  
  .banner #register a {
    text-decoration: none;
    margin-left: 250px;
  }
  
  .banner #register {
    margin-top: 30px;
  }
  
  
  /* Banner 2 */
  
  
  .banner2-text {
    text-align: center;
    display: block;
    margin-top: 70px;
    color: #040429;
  }
  
  .banner2-text h1 {
    text-align: center;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: -5px;
  }
  
  .banner2-text h3 {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    z-index: 1;
  }
  
  .banner2-item2 img {
    float: right;
  }
  
  .banner2-item3 img {
    float: left;
    width: 600px;
    margin-right: -200px;
    margin-top: -100px !important;
  }
  
  .banner2-item1 img {
    margin-left: 300px;
    padding-top: 30px;
  }
  
  .banner2 {
    align-items: center;
    padding: 0 !important;
  }
  
  .banner2 img {
    position: relative;
  }
  
  