.listpageitem{
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.list-image img{
    width: 350px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
}

.list-content{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-name{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #000000;
}

.item-content{
    width: 400px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    margin-bottom: 20px;
    color: #000000;
}

#register{
    color: #FFFFFF;
    background: #040429;
    border-radius: 5px;
    padding: 10px 30px;
}

@media screen and (max-width:900px){
    .listpageitem{
        flex-direction: column;
        padding: 0 ;
    }

    .list-image img{
        width: 300px;
        height: 180px;
    }

    .list-content{
        margin: 0;
        padding: 0 40px;
        width: 100%;
    }

    .item-content{
        margin: 0;
        width: 300px;
    }
    .item-name{
        font-size: 25px;
        font-weight: 700;
        margin: 0;
        width: 100%;
    }
    .link{
        margin: 0;
    }
}