.recentlisting {
  width: 100%;
}

.recentlisting .register {
  /* text-align: center;
    margin-top: 60px; */
}

.recentlisting-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recentlisting-header p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #000000;
}

.recentlisting-header .line {
  height: 8px;
  width: 90px;
  background: black;
}

.recentlisting-body {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
}

.recentlisting-body img {
  width: 303px;
  height: 180px;
  border-radius: 20px;
}

