.recentlisting {
  width: 100%;
  padding: 20px 200px;
}



.recentlisting-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recentlisting-header p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #000000;
}

.recentlisting-header .line {
  height: 8px;
  width: 90px;
  background: black;
}

.recentlisting-body {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: space-between;
  /* padding: 0 70px; */
}

.more-con{
  display:flex;
  align-items: center;
  justify-content: space-around;
  margin: 40px 0 20px  0;
  /* width: 200px; */
}

.more{
  background-color: #040429;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  display: flex;
}

.more:hover{
  color: #040429;
  background-color: #D6D6D6;
}

.more a{
  cursor: pointer;
}


@media screen and (max-width:900px) {
  .recentlisting-body, .more-con{
    padding: 10px;
    left: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

@media screen and (max-width:1024px) {
  .recentlisting-body{
    padding: 0px;
  }
}