
.per-list {
    max-width: 300px;
    flex-direction: column;
    margin-bottom: 20px;
  
  }
  .per-list .cover {
    width: 300px;
    height: 180px;
    border-radius: 20px;
    object-fit: cover;
  }
  
  .per-list div {
      margin: 10px 0;
    text-align: left;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 18.2157px;
    line-height: 27px;
    color: #040429;
  }

  .per-list h1 {
      font-style: normal;
      font-weight: 400;
      font-size: 12.1438px;
      line-height: 18px;
      margin-bottom: 20px;
      color: #040429;
  }
  
  .per-list .star {
      height: 40px;
    width: 130px;
  }

  @media screen and (max-width:900px) {
    .per-list{
      max-width: 280px;

    }
    .per-list .cover {
      width: 290px;
   ;
    }
  }