
.near-chart {
    height: 40px;
    padding: 0px 200px 0px 200px;
    /* margin: 0px 100px 0px 100px; */
    justify-content: center;
    border-bottom: rgba(4, 4, 41, 0.3) solid 0.1px;
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .near-chart .api-content {
    display: flex;
    width: 100%;
    font-size: 12px;
    font-weight: 500;
  }

  .content{
    margin-right: 20px;
  }
  
  .near-chart .text li {
    padding-left: 30px;
    color: #040429;
  }
  
  .near-chart .text li span {
    color: rgba(4, 4, 41, 0.5);
  }
  


  @media screen and (max-width:900px) {
    .near-chart {
      padding: 0% !important;
    }
  }