.partners{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 40px 200px;
}

.partners-text h1{
    font-style: normal;
    font-weight: 800;
    font-size: 57.0409px;
    line-height: 86px;
    color: #040429;
}

.partners-logo img {
    margin: 0px 20px;
}

.partners-logo{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}


@media screen and (max-width:900px){
   .partners{
    position: relative;
    display: block;
    align-items: center;
    margin-bottom: 30px !important;
    padding: 0px 100px !important;
   }

   .partners-logo{
       display: flex;
       flex-direction: column;
       width: auto;
       grid-template-columns: 1fr 1fr;
   }
}

@media screen and (max-width:1235px){
    .partners{
      padding: 0pc 200px;
    }
}

@media screen and (max-width:963px){
    .partners{
      padding: 0px 200px;
      padding-bottom: 30px;
      display: block;
      text-align: center;
    }
    .partners-logo {
        justify-content: space-around;
    }
}

@media screen and (max-width:974px){
    .partners{
      padding: 0px 200px;
      padding-bottom: 30px;
      display: block;
      text-align: center;
    }
    .partners-logo {
        justify-content: space-around;
    }
}

@media screen and (max-width:1024px){
    .partners{
      padding: 0px 200px;
      padding-bottom: 30px;
      display: block;
      text-align: center;
    }
    .partners-logo {
        justify-content: space-around;
    }
}
