
.service {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(4, 4, 41, 0.05);
  padding: 60px 200px;
  position: relative;
  
  }

  .service h6 {
    font-style: normal;
    font-weight: 800;
    font-size: 51.871px;
    color: #040429;
  }

  .service-header {
    flex: 1;
  }

  .service-content {
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  
 .service-header span {
    font-style: normal;
    font-weight: 400;
    font-size: 12.9677px;
    line-height: 19px;
    color: #040429;
  }  

  .service-text {
    width: 250px;
    padding-left: 50px;
  }
  
  .ellipse {
    margin-bottom: 20px;
    width: 60px;
    height: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
    border-radius: 50%;
    background-color: #040429;
  }

  .ellipse .icon{
    color: #FFFFFF;
    font-size: 25px;
  }
  
  .service-text h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;

    color: #040429;
  }
  
  .service-text span {
    font-weight: 400;
font-size: 12px;
line-height: 18px;
  }

  @media screen and (max-width:1200px){
    .service{
      padding:40px 20px;
    }
    .service-text{
      width: 200px;
    }
  }

  @media screen and (max-width:1369px){
    .service-text {
      padding-left: 70px;
    }
    .service-header {
      margin-top: -220px;
    }
}
  
  @media screen and (max-width:900px){
    .service{
      height: 850px !important;
      display: flex;
      flex-direction: column;
      padding: 20px 0px;
      justify-content: center;
      text-align: center;
    }
    .service-header {
      margin-bottom: 30px;
    }
    .service-content {
      display: flex;
      flex-direction: column;
      /* justify-content: flex-end; */
    }
    .service-text {
      position: relative;
      display: flex;
      justify-content: space-around;
      text-align: center;
      align-items: center;
      padding: 10px 0px !important;
      margin: 0px !important;
    }
    .service-header h6 {
      font-size: 47px !important;
    }
  }

  @media screen and (max-width:1235px){
    .service-text{
      padding-right: 50px;
      margin-left: 20px;
    }
  }

  @media screen and (max-width:1168px){
    .service-text{
      padding-right: 30px;
      margin-left: 50px;
    }
    .service {
      padding: 0px 200px;
    }
  }

  @media screen and (max-width:963px){
    .service{
      padding: 0px 200px;
    } 
  }

@media screen and (max-width:1235px){
  .service{
    padding: 0px 100px;
  }
}

@media screen and (max-width:974px){
  .service-text{
    margin-left: 30px;
  } 
}

@media screen and (max-width:749px){
  .service{
    position: relative;
    display: block;
    height: 550px;
    padding-top: 30px;
  }
  .service-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width:749px){
  .service{
    position: relative;
    display: block;
    height: 550px;
    padding-top: 30px;
  }
}