/* .App {
  text-align: center;
} */
/* My style */


/* Collection */




/* Media Query */




@media screen and (max-width: 1406px) {
  .service h6 {
    font-size: 60px;
    margin-top: 220px;
  }
}

@media screen and (max-width: 1247px) {
  .service .group9, .content .group8 {
    visibility: hidden;
  }
  .service-text{
    margin-right: -100px;
    padding-left: 50px;
  }
  .about-header h6 {
    font-size: 60px;
  }
  .about-header span {
    width: 300px;
    font-size: 14px;
  }
  .about-content img {
    width: 500px;
  }
  .about-content {
    margin-right: -50px;
  }
  .about-text {
    font-size: 13px;
  }
  .about {
    height: 600px;
  }
}
