


/* Our Service */


/* Patners */

/* .patners {
  height: 200px;
  position: relative;
  padding: 0px 100px 20px 100px;
} */

/* .patners .patners-text {
  padding-top: 5px;
  padding-left: 80px;
}

.patners h1 {
  font-size: 70px;
  font-weight: 800;
  margin-left: 50px;
  margin-bottom: 0;
}

.patners-logo {
  position: relative;
  float: right;
  margin-top: -100px;
  margin-right: 180px;
  width: 500px;
}

.patners-logo img {
  height: 30px;
  background-color: rgba(4, 4, 41, 0.05);
  padding: 15px 20px;
  border-radius: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.footer {
  height: 250px;
  background-color: rgba(4, 4, 41, 0.05);
  position: relative;
  display: block;
  justify-content: center;
  padding: 0px 200px 0px 200px;
}

.footer .group4 {
  position: absolute;
  display: flex;
}

.footer-widget {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-widget .span {
  font-size: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: left;
  margin-bottom: 20px;
}
.footer-widget .img {
  position: relative;
  text-align: center;
  margin-bottom: 50px;
}
.footer-widget .h5 {
  margin-top: 30px;
  position: relative;
  text-align: center;
  font-size: 12px;
}
.footer-widget h5 {
  font-weight: 400;
}

.footer-widget-right {
  position: relative;
  float: right;
  margin-top: -140px;
  height: 40px;
}

.footer-widget-right input {
  width: 150px;
  height: 40px;
  background-color: #ffffff;
  border: none;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px 0px 0px 10px;
  padding: 5px 20px;
  margin-right: 5px;
}

.footer-widget-right button {
  width: 50px;
  height: 50px;
  padding: 5px 20px;
  border: none;
  background-color: #040429;
  color: #ffffff;
  border-radius: 0px 10px 10px 0px;
} */


/* Recent Listing */



/* Collection */

/* 
.collection {
  position: relative;
  padding: 0px 350px 20px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.collection-list {
  position: relative;
  text-align: center;
  display: flex;
  padding-bottom: 20px;
}

.collection-list img {
  width: 346px;
  height: 236px;
  border-radius: 20px;
  float: left;
}

.collection-text{
  text-align: left !important;
  width: 400px;
  position: relative;
  float: right;
  margin-left: 40px;
}

.collection-text h1 {
  font-size: 15px;
  font-weight: 400;
}

.collection-text span {
  font-size: 30px;
  font-weight: 800;
}

.collection-text #register {
  margin-top: 20px;
  font-size: 10px;
} */


/* AbouUs */
/* 
.about-us {
  text-align: center;
  position: relative;
  margin-top: 30px;
}

.about-text {
  align-items: center;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}

.about-text-content, .about-text-content1 {
  text-align: left;
  display: inline-block;
}

.about-text-content h1 {
  font-weight: 400;
  font-size: 15px;
  width: 350px;
  margin-right: 20px;
  margin-left: 20px;
}

.about-text-content1 h1 {
  font-weight: 400;
  font-size: 15px;
  width: 1000px;
  margin-right: 20px;
  margin-left: 20px;
}

.about-contact {
  background-color: rgba(4, 4, 41, 0.05);
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.about-contact .textin {
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}

.textin h2 {
  font-weight: 400;
  font-size: 15px;
  width: 200px;
  text-align: left;
}

.textin .we {
  display: inline-block;
  position: relative;
} */
/* 
.textin #register {
  font-size: 10px;
} */


/* Listed Banner */

/* 
.listed {
  height: 480px;
  left: 0px;
  top: 0px;
  position: relative;
  background-image: url(../src/images/image1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.listed-text h1 {
  color: #ffffff;
  text-align: center;
  font-size: 60px;
  font-weight: 800;
  margin-bottom: -5px;
}

.listed-text h3 {
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  z-index: 1;
}

 */



/* Media Query */




/* @media screen and (max-width: 1406px) {
  .service h6 {
    font-size: 60px;
    margin-top: 220px;
  }
} */


/* @media screen and (max-width: 1339px) {
  .banner-text h1 {
    font-size: 40px;
  }
  .banner-text h3 {
    width: 300px;
    font-size: 14px;
  }
  .patners-logo {
    margin-right: 0px;
  }
  .service-text {
    margin-right: -30px;
  }
  .banner-item {
    width: 200px;

  }
} */

/* @media screen and (max-width: 1503px) {
  .banner-item {
    width: 200px;

  }
} */

/* @media screen and (max-width: 1264px) {
  .banner-item {
    width: 200px;

  }
} */
/* 
@media screen and (max-width: 1247px) {
  .service .group9, .content .group8 {
    visibility: hidden;
  }
  .service-text{
    margin-right: -100px;
    padding-left: 50px;
  }
  .about-header h6 {
    font-size: 60px;
  }
  .about-header span {
    width: 300px;
    font-size: 14px;
  }
  .about-content img {
    width: 500px;
  }
  .about-content {
    margin-right: -50px;
  }
  .about-text {
    font-size: 13px;
    width: 510px;
  }
  .about {
    height: 600px;
  }
} */

/* 
@media screen and (max-width: 1100px) {
  .banner-item1 {
    visibility: hidden;
  }
  .banto {
    text-align: center;
  }
  .banto .banner-item {
    justify-content: center;
    display: block;
    position: relative;
    margin-right: 400px;
    margin-bottom: -20px;
    z-index: 1;
  }
  .banner-text, .banner-item {
    text-align: center;
    display: block;
    justify-content: center;
    margin-left: 0px;
  }
  .banner-text {
    margin-top: -120px;
  }
  .banner-text h1 {
    padding-top: 300px;
    margin-bottom: -10px;
  }
  .banner-text h2 {
    margin-bottom: -10px;
  }
  .banner-text h3 {
    justify-content: center;
    text-align: center;
    display: block;
    margin-left: 300px;
  }
  .banner {
    height: 600px;
  }
  .banner #register a {
    margin-left: 0%;
  }
  .recentlisting-body {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .per-list {
    position: relative;
    margin-bottom: 30px;
  }
  .recentlisting {
    height: 1600px;
  }
}







 */













/* for reducing the padding when getting to mobile */

/* 
@media screen and (min-width: 1100px) {
  .about, .footer, .service, .recentlisting, .patners, .nearchart, .navbar {
    padding: 0px 50px 0px 50px;
  }
} */