.App {
  text-align: center;
}
/* My style */


/* Navbar */

.navbar {
  top: 0;
  left: 0;
  height: 80px;
  background-color: #ffffff;
  padding: 0px 100px 0px 100px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  /* margin: 0px 100px 0px 100px; */
}

.nav-item img {
  margin-top: 20px;
  margin-left: 180px;
}

.navMenu {
  float: right;
  margin-top: 30px;
  margin-right: 180px;
  list-style: none;
  display: flex;
}

.navMenu li {
  padding-left: 40px;
  color: #040429;
  font-size: 18px;
  font-weight: 700;
}

.navMenu li a {
  text-decoration: none;
  color: #040429;
}

#register a{
  color: #ffffff;
  background-color: #040429;
  padding: 12px 25px 12px 25px;
  border-radius: 5px;
  text-decoration: none;
}

#register a:hover {
  color: #040429;
  background-color: #D6D6D6;
}

.mobile-menu{
  margin: 0;
  padding: 0;
  display: none;
}

/* Banner */


.banner {
  height: 480px;
  left: 0px;
  top: 0px;
  /* margin: 0px 100px 0px 100px; */
  padding: 0px 100px 0px 100px;
  position: relative;
  background-color: rgba(4, 4, 41, 0.05);

}

.banner-item img{
  float: right;
  position: relative;
  display: block;
  margin-right: 250px;
  margin-top: 76px;
}

.banner-item1 img {
  margin-left: 200px;
  margin-top: 30px;
}

.banner-text {
  margin-top: -30px;
  margin-left: 250px;
  color: #040429;
}

.banner-text h1 {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: -5px;
}

.banner-text h2 {
  font-size: 20px;
  font-weight: 600;
}

.banner-text h3 {
  font-size: 15px;
  font-weight: 400;
  width: 400px;
}

.banner #register a {
  text-decoration: none;
  margin-left: 250px;
}

.banner #register {
  margin-top: 30px;
}


/* Banner 2 */


.banner2-text {
  text-align: center;
  display: block;
  margin-top: 70px;
  color: #040429;
}

.banner2-text h1 {
  text-align: center;
  font-size: 80px;
  font-weight: 800;
  margin-bottom: -5px;
}

.banner2-text h3 {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  z-index: 1;
}

.banner2-item2 img {
  float: right;
}

.banner2-item3 img {
  float: left;
  width: 600px;
  margin-right: -200px;
  margin-top: -100px !important;
}

.banner2-item1 img {
  margin-left: 300px;
  padding-top: 30px;
}

.banner2 {
  align-items: center;
  padding: 0 !important;
}

.banner2 img {
  position: relative;
}



/* NearChart */

.nearchart {
  height: 40px;
  padding: 0px 100px 20px 100px;
  /* margin: 0px 100px 0px 100px; */
  justify-content: center;
  border-bottom: rgba(4, 4, 41, 0.3) solid 0.1px;
  position: relative;
  display: flex;
}

.nearchart .text {
  position: relative;
  display: flex;
  list-style: none;
  font-size: 12px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nearchart .text li {
  padding-left: 30px;
  color: #040429;
}

.nearchart .text li span {
  color: rgba(4, 4, 41, 0.5);
}


/* About */

.about {
  padding: 0px 100px 20px 100px;
  /* margin: 0px 100px 0px 100px; */
  height: 700px;
  background-color: rgba(4, 4, 41, 0.05);
  position: relative;
}

.about .group8 {
  margin-left: -200px;
  margin-top: 50px;
  width: 350px;
}

.content {
  padding-top: 40px;
}

.about-content {
  width: 600px;
  float: right;
  margin-top: 50px;
  margin-right: 90px;
}

.about-content h4 {
  font-weight: 500;
}

.about-header {
  position: absolute;
  top: 0;
  width: 1000px;
}

.about h6 {
  font-size: 80px;
  font-weight: 800;
  margin-left: 100px;
  margin-bottom: 0;
}

.about .about-header span {
  position: absolute;
  width: 200px;
  margin-left: 100px;
}

.about-header #register {
  margin-left: 100px;
  margin-top: 70px;
}


/* Our Service */


.service {
  height: 500px;
  background-color: rgba(4, 4, 41, 0.05);
  position: relative;
  padding: 0px 100px 20px 100px;
  /* margin: 0px 100px 0px 100px; */
  margin-bottom: 40px;
}

.service .group9 {
  float: right;
  margin-right: -100px;
  margin-top: -15px;
  width: 300px;
}

.service-header {
  position: absolute;
  margin-top: -80px;
  width: 1000px;
}

.service h6 {
  font-size: 80px;
  font-weight: 800;
  margin-left: 100px;
  margin-bottom: 0;
}

.service .service-header span {
  position: absolute;
  width: 200px;
  margin-left: 100px;
}

.service .service-content {
  float: right;
  position: relative;
  display: flex;
  top: 170px;
  margin-right: -120px;
}

.service-text {
  width: 250px;
  
}

.ellipse {
  width: 60px;
  height: 60px;
  left:1000px;
  top: 105px;
  border-radius: 100%;
  background-color: #040429;
}

.service-text h1 {
  font-size: 18px;
  font-weight: 700;
}

.service-text span {
  position: absolute;
  font-size: 12px;
  width: 200px !important;
}


/* Patners */

.patners {
  height: 200px;
  position: relative;
  padding: 0px 100px 20px 100px;
  /* margin: 0px 100px 0px 100px; */
}

.patners .patners-text {
  padding-top: 5px;
  padding-left: 80px;
}

.patners h1 {
  font-size: 70px;
  font-weight: 800;
  margin-left: 50px;
  margin-bottom: 0;
}

.patners-logo {
  position: relative;
  float: right;
  margin-top: -100px;
  margin-right: 180px;
  width: 500px;
}

.patners-logo img {
  height: 30px;
  background-color: rgba(4, 4, 41, 0.05);
  padding: 15px 20px;
  border-radius: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.footer {
  height: 250px;
  background-color: rgba(4, 4, 41, 0.05);
  position: relative;
  display: block;
  justify-content: center;
  padding: 0px 200px 0px 200px;
  /* margin: 0px 100px 0px 100px; */
}

.footer .group4 {
  position: absolute;
  display: flex;
}

.footer-widget {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-widget .span {
  font-size: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: left;
  margin-bottom: 20px;
}
.footer-widget .img {
  position: relative;
  text-align: center;
  margin-bottom: 50px;
}
.footer-widget .h5 {
  margin-top: 30px;
  position: relative;
  text-align: center;
  font-size: 12px;
}
.footer-widget h5 {
  font-weight: 400;
}

.footer-widget-right {
  position: relative;
  float: right;
  margin-top: -140px;
  margin-right: 50px;
  height: 40px;
}

.footer-widget-right input {
  width: 150px;
  height: 40px;
  background-color: #ffffff;
  border: none;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px 0px 0px 10px;
  padding: 5px 20px;
  margin-right: 5px;
}

.footer-widget-right button {
  width: 50px;
  height: 50px;
  padding: 5px 20px;
  border: none;
  background-color: #040429;
  color: #ffffff;
  border-radius: 0px 10px 10px 0px;
}


/* Recent Listing */


.recentlisting {
  height: 700px;
  position: relative;
  padding: 0px 100px 20px 100px;
  /* margin: 0px 100px 0px 100px; */
  margin-bottom: 20px;
}

.recentlisting .register {
  text-align: center;
  margin-top: 60px;
}

.recentlisting-header{
  position: relative;
  display: block;
  justify-content: center;
  padding-top: 50px;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}

.recentlisting-header .line {
  position: relative;
  justify-content: center;
  width: 100px;
  height: 10px;
  border-radius: 5px;
  background-color: #040429;
}

.recentlisting-body {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.recentlisting-body img{
  width: 300px;
  height: 180px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.per-list {
  width: 350px;
  text-align: left;
  padding-left: 50px;
}

.per-list span {
  font-size: 25px;
  font-weight: 800;
  display: block;
}

.per-list h1 {
  font-size: 15px;
  font-weight: 500;
}

.per-list .star {
  width: 130px;
  margin-top: -75px;
  margin-bottom: -50px;
}


/* Collection */


.collection {
  position: relative;
  padding: 0px 350px 20px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.collection-list {
  position: relative;
  text-align: center;
  display: flex;
  padding-bottom: 20px;
}

.collection-list img {
  width: 346px;
  height: 236px;
  border-radius: 20px;
  float: left;
}

.collection-text{
  text-align: left !important;
  width: 400px;
  position: relative;
  float: right;
  margin-left: 40px;
}

.collection-text h1 {
  font-size: 15px;
  font-weight: 400;
}

.collection-text span {
  font-size: 30px;
  font-weight: 800;
}

.collection-text #register {
  margin-top: 20px;
  font-size: 10px;
}


/* AbouUs */

.about-us {
  text-align: center;
  position: relative;
  margin-top: 30px;
}

.about-text {
  align-items: center;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}

.about-text-content, .about-text-content1 {
  text-align: left;
  display: inline-block;
}

.about-text-content h1 {
  font-weight: 400;
  font-size: 15px;
  width: 350px;
  margin-right: 20px;
  margin-left: 20px;
}

.about-text-content1 h1 {
  font-weight: 400;
  font-size: 15px;
  width: 1000px;
  margin-right: 20px;
  margin-left: 20px;
}

.about-contact {
  background-color: rgba(4, 4, 41, 0.05);
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.about-contact .textin {
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}

.textin h2 {
  font-weight: 400;
  font-size: 15px;
  width: 200px;
  text-align: left;
}

.textin .we {
  display: inline-block;
  position: relative;
}

.textin #register {
  font-size: 10px;
}


/* Listed Banner */


.listed {
  height: 480px;
  left: 0px;
  top: 0px;
  position: relative;
  background-image: url(../src/images/image1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.listed-text h1 {
  color: #ffffff;
  text-align: center;
  font-size: 60px;
  font-weight: 800;
  margin-bottom: -5px;
}

.listed-text h3 {
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  z-index: 1;
}





/* Media Query */


@media screen and (max-width: 750px) {
  .navMenu {
    display: none;
    transition: all 1s ease-out;
  }
  .navMenu-mobile {
    position: relative;
    top: 10px;
    height: 150px;
    border-radius: 0px 0px 20px 20px;
    display: block;
    margin-top: 10px;
    list-style: none;
    background-color: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    transition: all 1s ease-out;
    z-index: 1;
  }
  .navMenu-mobile li {
    padding-top: 35px;
    text-align: center;
    transition: all 1s ease-out;
  }

  .mobile-menu {
    transition: all 1s ease-out;
    position: relative;
    display: block;
    float: right;
    margin-top: 20px;
    border: none;
    background: none;
    outline: none;
  }
}

@media screen and (max-width: 1247px) {
  .navMenu {
    display: none;
    transition: all 1s ease-out;
  }
  .navMenu-mobile {
    position: relative;
    top: 10px;
    height: 150px;
    border-radius: 0px 0px 20px 20px;
    display: block;
    margin-top: 10px;
    list-style: none;
    background-color: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    transition: all 1s ease-out;
    z-index: 1;
  }
  .navMenu-mobile li {
    padding-top: 35px;
    text-align: center;
    transition: all 1s ease-out;
  }

  .mobile-menu {
    transition: all 1s ease-out;
    position: relative;
    display: block;
    float: right;
    margin-top: 20px;
    border: none;
    background: none;
    outline: none;
    margin-right: 180px !important;
  }
}


@media screen and (max-width: 1406px) {
  .service h6 {
    font-size: 60px;
    margin-top: 220px;
  }
}


@media screen and (max-width: 1339px) {
  .banner-text h1 {
    font-size: 40px;
  }
  .banner-text h3 {
    width: 300px;
    font-size: 14px;
  }
  .patners-logo {
    margin-right: 0px;
  }
  .service-text {
    margin-right: -30px;
  }
  .banner-item {
    width: 200px;
    margin-left: 930px;

  }
}

@media screen and (max-width: 1264px) {
  .banner-item {
    width: 200px;
    margin-left: 930px;

  }
}

@media screen and (max-width: 1247px) {
  .service .group9 {
    visibility: hidden;
  }
  .service-text{
    margin-right: -100px;
    padding-left: 50px;
  }
}